@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
} 

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f3f6;




}
:root {
    --primary-color: #2874f0;
}
.container{
    padding:  0 8px;
}
header {
    background-color: var(--primary-color);
    height: 75px;
}
header .nav-container{
    display: flex;
    align-items: center;
    height: 100px;
    max-width: 880px;
    margin: 0 auto;
}
header .nav-container{
    display: flex;
    min-width: 135px;
    justify-content: flex-end;
}
header .nav-container .logo img {
    width: 90px;
}
header .search {
     height: 100%;
     display: flex;
     align-items: center;
     margin-left: 12px;
}
header .search .search-container{
    width: 540px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0rgb(0 0 0/23%);
    display: flex;
}

header .search .search-container input{
    width: calc(100% - 32px);
    height: 100%;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    border: none;
}
header .search .search-container button {
    width: 36px;
    height: 100%;
    padding:  0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}
header .login{
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 20px;
}
header .login button{
    width: 122px;
    padding: 5px 48px;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);


}
header .become-seller {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
header .more{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;

}
header .more svg {
    margin-left: 8px;
    rotate: -90deg;
}
header .cart{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
header .cart svg{
    margin-right: 8px;
}

/* section 1 */
.section-1{
    width: 100%;
    height: 130px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);

}
.section-1-container{
    width: 1298px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-1-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
}
.section-1-item {
    width: 154px;
    height: 114px;
}
/* section 2*/
.section-2-container {
    margin-top: 18px;
    height: 110%;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/0735712fe84c602d.jpg?q=50');
background-size: cover;
background-position: center;

}
/* section 3 */
.section-3-container {
    margin-top: 8px;
    height: 122px;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*section 4  */
.section-4-container{
    margin-top: 8px;
    height: 362px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.section-4-offers{
    width: 230px;
    height: 100%;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90');
    background-position:bottom;
    background-repeat: no-repeat;
}

.section-4-offers-viewall{
    margin-top: 130px;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section-4-offers-viewall button{
    margin-top: 24px;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    /* border hatane ke liye buttion view all */
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.section-4-list{
    height: 100%;
    width: calc(100%-230px);
    display: flex;
    /* ise scrolling me image chala gya */
    overflow-x: auto;
}
.section-4-item{
    width: 250px;
    height: 100%;
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-4-item img{
    max-width: 200px;
    max-height: 200px;
}
.section-4-item-head{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
}
.section-4-item-price{
    margin-top: 11px;
    font-size: 15px;
    color: blue;
}
.section-4-item-explore{
    opacity: 0.6;
    font-size: 14px;
    font-weight: 350;
    font-size: 12px;
}
/* section 5 */
.section-5{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.section-5 img{
    width: 33%;
}
/* footer */
footer{
    margin-top: 26px;
    background-color: white;
    padding: 25px;
    text-align: center;
    font-size: 14px;
    color: rgba(34, 30, 34, 0.467);
}









